<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FAMCollapseTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4FF61B6F1CA3FE9600207DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FF61B831CA3FE9600207DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FF61B8E1CA3FE9600207DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
